<div class="hero-unit" align="center">
	<h1><a>The Web Merchant</a></h1>
</div>

<div class="row">
	<div class="span6" style="background-color: #002;">
		<h3 align="center">About</h3><br />
		<p>This billing system accepts 2 payment methods from its customers. Customers can be billed online using a credit card, or they may use their remaining credits which can be acquired by buying it from the merchant's office. </p>
		<p>In order to accept online payments from customer's bank accounts, this system uses 2checkout's payment processing service so customer's can pay by using their credit cards. 2checkout accepts payment from most of the major credit cards interationally, which includes Visa, Mastercard, American Express, Discover, Dinners Club, and JCB. To see the complete details, you may visit <a href="http://www.siteground.com/merchant_2checkout.htm">http://www.siteground.com/merchant_2checkout.htm</a></p>
		<p>Customers can also be billed using their remaining credits in the website. If a customer is already a member, he / she may purchase additional credits from the merchant's office and use these credits to purchase products or services online with just a few simple clicking in your personal computer. </p>
	</div>
	<div class="span6" style="background-color: #002;">
		<h3 align="center">How to order</h3>
		<p>If you already have your own account, just log in and you will be directed already in the Store page. You'll have the option to select the products or services you wish to purchase. Just type in the quantity of the product / service you wish to purchase and add them in your virtual cart. After selecting all the products, select one of the 2 payment methods available by clicking the corresponding button below your cart's view.</p>
		<p>If ever you chose to pay using your credit card, you will be redirected to an external website in http://www.2checkout.com. From there, you'll have to enter your credit card information, address and other informations required in order to process your credit card transaction. Once finished, you will receive an email notification confirming your purchase, which you may also print as a receipt for future reference. Click on the "return" button to go back to this website so that we'll also be informed immediately about your purchase. Don't worry if your forgot to click that "return" button from 2checkout because we have different sources from getting that info.</p>
	</div>
</div>